<div class="container mt-3">
  <h1 class="mt-5">COMPONENT A</h1>
<a routerLink="/component-b" class="btn btn-outline-primary"
  >Go To Component B</a>

<!-- <div class="row">
  <div class="col-md-6">
    <div class="list-group mt-5">
      <a routerLink="child-a" class="list-group-item list-group-item-action"
        >Child A</a
      >
      <a routerLink="child-b" class="list-group-item list-group-item-action"
        >Child B</a
      >
    </div>
  </div>
</div> -->
<a routerLink="/component-a/child-a" class="btn btn-outline-danger mx-3" (click)="isToggleButton()">
  Toggle child A
</a>
<ng-container *ngIf="toggle">
  <app-child-a></app-child-a>
</ng-container>
<!-- <h2 class=""></h2> -->

<!-- <app-child-a [image] ="image"(result)="setCounter($event)">
  Ujang
<ng-container PunyaTagP>TagP</ng-container>
<ng-container tagSpan>tesSpan</ng-container>

</app-child-a> -->
<!-- <router-outlet></router-outlet> -->


</div>
