<div class="wraper">
  <header>
      <div class="navbar" id="sticky">
          <div class="logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Aqours.png" alt="">
          </div>
          <div>
              <ul>
                  <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                  <li><a href="#"><i class="fas fa-people-arrows"></i>About us</a></li>
                  <li><a href="#"><i class="fas fa-phone"></i>Contact us</a></li>
                  <li><a href="#porto"><i class="fas fa-paper-plane"></i>Portofolio</a></li>
              </ul>
          </div>
      </div>
  </header>
</div>

