<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Service</h3>
          <p class="subtitle-a"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="bi bi-filetype-html"></i>
            </span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Design</h2>
            <p class="s-description text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="bi bi-filetype-py"></i>
            </span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Python Developer</h2>
            <p class="s-description text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle">
              <i class="bi bi-activity"></i>
            </span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Backend Developer</h2>
            <p class="s-description text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia, provident vitae! Magni tempora perferendis eum non provident.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
