<div class="container mt-3">
  <div class="row">
    <h1 class="text-center my-3">Daftar Anime</h1>
    <div class="col-md-4" *ngFor="let anime of animes">
      <div class="card width-75 my-2 bg-light" style="width: 18rem;">
        <img class="card-img-top" src="{{anime.cover}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{anime.name}}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Watch Anime</a>
        </div>
      </div>
    </div>
  </div>
</div>
