<div class="px-4 py-5 my-5 text-center">
  <div class="table-cell">
    <div class="container">
      <img
      class="d-block mx-auto mb-4 img-enigma"
      src="https://enigmacamp.com/images/favicon.png"
      alt="Logo Enigma"
    />
      <h1 class="display-5 fw-bold">Selamat Datang</h1>
      <p class="hero-subtitle"><span class="anim-typewriter" data-typed-items="Designer, Developer, Freelancer, Photographer">Developer</span><span class="typed-cursor" aria-hidden="true">|</span></p>
    </div>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Di Website Pascal Class</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-enigma btn-lg px-4 gap-3">
        Mulai
      </button>
    </div>
  </div>
</div>
