<footer>
  <div class="footer-container">
      <div class="footer">
          <div class="footer-heading">
              <p><a href="https://www.lovelive-anime.jp/worldwide/" target="_blank" rel="noopener noreerror">2017 Project Lovelive! Sunshine!!</a></p>
          </div>
          <div class="email">
              <i class="fa-solid fa-envelope"><a href="mailto:rasyidr1220@gmail.com">email</a></i>
          </div>
          <div class="phone-call">
              <i class="fas fa-phone"><a href="tel:+6285864848598">phone</a></i>
              <!-- <i class="fa-solid fa-location-dot"></i> -->
          </div>
      </div>
  </div>
</footer>
